html {
  scroll-behavior: smooth;
}
body {
  font-family: Consolas;
}
.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}
